<!-- Start Breadcrumbs -->
<app-breadcrumbs title="DETAIL D'UN UTILISATEUR" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row" *ngIf="user">
  <div class="col-xxl-12">
    <div class="card">
      <div class="card-body">
        <div class="row align-items-center justify-content-center g-3">
          <div class="col-xl-4 col-md-5">
            <div class="text-center  rounded-3  ribbon-box page-agency-overview overflow-hidden">

              <img [src]="user.avatar ? user.avatar : imageURL"  height="250" width="250"
                   class="rounded object-fit">
            </div>
          </div>
          <div class="col-xl-8 col-md-7 align-self-start">
            <div>
              <div class="mb-3">
                <h2 class="text-start" >{{ user.first_name + ' ' + user.last_name }}</h2>
                <p class="text-muted mb-0">{{ user.role_dans_lentreprise}}</p>
                 </div>
              <div>
                <div class="table-responsive">
                  <table class="table table-sm table-nowrap table-borderless mb-0">
                    <tbody>
                    <tr>
                      <th>Genre:</th>
                      <td>{{ user.gender}}</td>
                    </tr>
                    <tr>
                      <th>Email:</th>
                      <td>{{user.email}}</td>
                    </tr>
                    <tr>
                      <th>No Telephone:</th>
                      <td>{{ user.phone_number}}</td>
                    </tr>
                    <tr>
                      <th>Status:</th>
                      <td>
                        <span class="badge status bg-success-subtle text-success" *ngIf="user.is_active === true">
                                        Activé {{user.is_active}}
                                      </span>
                        <span class="badge status bg-danger-subtle text-danger" *ngIf="user.is_active === false ">
                                        desactivé {{user.is_active}}
                                      </span>
                      </td>
                    </tr>
                    <tr>
                      <th>Dernière connexion:</th>
                      <td>{{user.last_login}}</td>
                    </tr>

                    </tbody>
                  </table>
                </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>



</div><!--end row-->
