<!-- Start Breadcrumbs -->
<app-breadcrumbs [breadcrumbItems]="breadCrumbItems" title="Acheteur"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="flex-grow-1">

          </div>
          <div class="flex-shrink-0">
            <div class="d-flex flex-wrap align-items-start gap-2">
              <a ActivatedRoute class="btn btn-subtle-primary  btn-icon " routerLink="../"><i
                class="bi bi-list-task"></i></a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div><!--end col-->
</div><!--end row-->

<div class="row">
  <div class="col-xl-12">
    <div class="card">

      <div class="card-body form-steps p-4">

        <form
        #formRef="ngForm"
        [formGroup]="formStep2"
        (ngSubmit)="register()"
        class="row g-3 needs-validation" novalidate>

        <div class="col-lg-12">
          <div class="mb-3">
            <label class="form-label" for="steparrow-gen-info-lentreprise-input">Nom de l'entreprise</label>
            <input
              [ngClass]="{ 'is-invalid': formRef.submitted && f2['name'].errors }"
              class="form-control "
              formControlName="name"
              id="steparrow-gen-info-lentreprise-input"
              required
              type="text"
            >

            <div *ngIf="formRef.submitted && f2['name'].errors" class="invalid-feedback">
              <div *ngIf="f2['name'].errors?.['required']">Le nom de l'entreprise est obligatoire</div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="mb-3">
            <label class="form-label" for="steparrow-gen-info-date-rccm-input">No RCCM</label>
            <input
              [ngClass]="{ 'is-invalid': formRef.submitted && f2['rccm'].errors }"

              class="form-control "
              formControlName="rccm"
              id="steparrow-gen-info-date-rccm-input"
              required
              type="text"
            >

            <div *ngIf="formRef.submitted && f2['rccm'].errors" class="invalid-feedback">
              <div *ngIf="f2['rccm'].errors?.['required']">Le numero rccm est obligatoire</div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="mb-3">
            <label class="form-label" for="steparrow-gen-info-creation-input">Date de création</label>

            <input
              type="text"
              id="steparrow-gen-info-creation-input"
              [ngClass]="{ 'is-invalid': formRef.submitted && f2['registration_date'].errors }"
              class="form-control"
              formControlName="registration_date"
              bsDatepicker [bsConfig]="bsConfig"
            >

            <div *ngIf="formRef.submitted && f2['registration_date'].errors" class="invalid-feedback">
              <div *ngIf="f2['registration_date'].errors?.['required']">La date de création est obligatoire</div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="mb-3">
            <label class="form-label">Formes juridiques</label>
            <br>
            <div *ngFor=" let j of typeSocietes" class="col-sm-4  form-check form-check-inline  ">
              <input [ngClass]="{ 'is-invalid': formRef.submitted && f2['type'].errors }"
                     [value]="j.id"
                     class="form-check-input"
                     formControlName="type"
                     id="{{j.id}}"
                     type="radio">
              <label class="form-check-label" for="{{j.id}}">{{j.name}}</label>
            </div>
            <div *ngIf="formRef.submitted && f2['type'].errors" class="invalid-feedback">
              <div *ngIf="f2['type'].errors?.['required']">Veuillez Choisir une forme juridique</div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="mb-3">
            <label class="form-label" for="steparrow-gen-info-description-input">Description</label>
            <textarea class="form-control"
                      formControlName="description"
                      id="steparrow-gen-info-description-input"
                      placeholder="Enter description" rows="3"
            ></textarea>

            <div *ngIf="formRef.submitted && f2['description'].errors" class="invalid-feedback">
              <div *ngIf="f2['description'].errors?.['required']">La description est obligatoire</div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="mb-3">
            <label class="form-label" >Domaines d'Activités</label>
            <br>
            <div class="col-md-3  form-check form-check-inline " *ngFor=" let dom of domaineActivites">
              <input class="form-check-input"
                     type="checkbox"
                     [checked]= "domaineList.indexOf(dom?.id!) > -1"
                     [ngClass]="{ 'is-invalid': formRef.submitted && f2['sectors'].errors }"
                     id="categories{{ dom.id }}"
                     (change)="onChangeDomaine($event)"
                     [value]="dom.id">
              <label class="form-check-label" for="categories{{ dom.id }}">{{ dom.name}}</label>
            </div>


            <div *ngIf="formRef.submitted && f2['sectors'].errors" class="invalid-feedback">
              <div *ngIf="f2['sectors'].errors?.['required']">Le domaine d'activité est obligatoire</div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="mb-3">
            <label class="form-label" for="steparrow-gen-info-website-input">Site Web</label>
            <input
              [ngClass]="{ 'is-invalid': formRef.submitted && f2['website'].errors }"
              class="form-control"
              formControlName="website"
              id="steparrow-gen-info-website-input"
              placeholder="Entrer l'adresse electronique"
              required
              type="text"
            >

            <div *ngIf="formRef.submitted && f2['website'].errors" class="invalid-feedback">
              <div *ngIf="f2['website'].errors?.['required']">L'email est obligatoire</div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="mb-3">
            <label class="form-label" for="steparrow-gen-info-phone_number-input">Numéro de
              Téléphone</label>
            <input
              [ngClass]="{ 'is-invalid': formRef.submitted && f2['phone_number'].errors }"
              class="form-control "
              formControlName="phone_number"
              id="steparrow-gen-info-phone_number-input"
              placeholder="Entrer le numero de telephone"
              required
              type="text"
            >

            <div *ngIf="formRef.submitted && f2['phone_number'].errors" class="invalid-feedback">
              <div *ngIf="f2['phone_number'].errors?.['required']">Le numero de telephone de l'entreprise
                est obligatoire
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="mb-3">
            <label class="form-label" for="steparrow-gen-info-email-input">Email</label>
            <input
              [ngClass]="{ 'is-invalid': formRef.submitted && f2['email'].errors }"
              class="form-control"
              formControlName="email"
              id="steparrow-gen-info-email-input"
              placeholder="Entrer l'adresse electronique"
              required
              type="text"
            >

            <div *ngIf="formRef.submitted && f2['email'].errors" class="invalid-feedback">
              <div *ngIf="f2['email'].errors?.['required']">L'email est obligatoire</div>
            </div>
          </div>
        </div>
        <br>
        <div class="col-lg-6">
          <div class="mb-3">
            <label class="form-label" for="steparrow-gen-info-pricipale-input">Adresse Principale</label>
            <textarea class="form-control"
                      formControlName="address"
                      id="steparrow-gen-info-pricipale-input"
                      rows="3"
            ></textarea>

            <div *ngIf="formRef.submitted && f2['address'].errors" class="invalid-feedback">
              <div *ngIf="f2['address'].errors?.['required']">L'adresse principale est obligatoire</div>
            </div>
          </div>
        </div>
        <p></p>
        <div class="col-lg-4">
          <div class="mb-3">
            <label class="form-label" for="steparrow-gen-info-region-input">Region</label>
            <select (change)="onRegionSelect($event)"
                    [ngClass]="{ 'is-invalid': formRef.submitted && f2['region'].errors }"
                    [value]="regionDefault"
                    class="form-select mb-3"
                    formControlName="region"
                    id="steparrow-gen-info-region-input">
              <option value="0">Choisissez une region</option>
              <option *ngFor="let reg of regionList" [value]="reg.id">{{ reg.name }}</option>
            </select>

            <div *ngIf="formRef.submitted && f2['region'].errors" class="invalid-feedback">
              <div *ngIf="f2['region'].errors?.['required']">Choisissez une region</div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="mb-3">
            <label class="form-label" for="steparrow-gen-info-pre-input">Préfecture</label>
            <select (change)="onPrefectureSelect($event)"
                    [ngClass]="{ 'is-invalid': formRef.submitted && f2['prefecture'].errors }"
                    [value]="prefectureDefault"
                    class="form-select mb-3"
                    formControlName="prefecture"
                    id="steparrow-gen-info-pre-input">
              <option value="0">Choisissez une prefecture</option>
              <option *ngFor="let pre of prefectureRegion" [value]="pre.id">{{ pre.name }}</option>
            </select>

            <div *ngIf="formRef.submitted && f2['prefecture'].errors" class="invalid-feedback">
              <div *ngIf="f2['prefecture'].errors?.['required']">Choisissez une prefecture</div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="mb-3">
            <label class="form-label" for="steparrow-gen-info-com-input">Commune</label>
            <select [ngClass]="{ 'is-invalid': formRef.submitted && f2['prefecture'].errors }"
                    [value]="communeDefault"
                    class="form-select mb-3"
                    formControlName="commune"
                    id="steparrow-gen-info-com-input">
              <option value="0">Choisissez une commune</option>
              <option *ngFor="let com of communePrefecture" [value]="com.id">{{ com.name }}</option>

            </select>

            <div *ngIf="formRef.submitted && f2['prefecture'].errors" class="invalid-feedback">
              <div *ngIf="f2['prefecture'].errors?.['required']">Choisissez une commune</div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <label class="form-label" for="steparrow-gen-info-region-input">Logo</label>
          <div class="mb-3">

            <div class="profile-user position-relative d-inline-block mx-auto mb-2">
              <img [src]="imageURL" alt="user-profile-image"
                   class=" avatar-lg img-thumbnail user-profile-image"
                   id="user-img">
              <div class="avatar-xs p-0 rounded-circle profile-photo-edit">
                <input (change)="fileChange($event)" accept="image/png, image/jpeg"
                       class="profile-img-file-input"
                       id="profile-img-file-input"
                       type="file">
                <label class="profile-photo-edit avatar-xs" for="profile-img-file-input">
        <span class="avatar-title rounded-circle bg-light text-body">
           <i class="ri-camera-fill"></i>
         </span>
                </label>
              </div>
            </div>

          </div>
        </div>
        <div class="hstack gap-2 justify-content-start mb-3">
          <button (click)="cancel($event)" class="btn btn-danger"><i class="ph-x align-middle"></i> Annuler</button>
          <button class="btn btn-primary"><i class="ph ph-floppy-disk align-middle"></i> Enregistrer</button>
        </div>
      </form>
      </div>
      <!-- end card body -->
    </div>
    <!-- end card -->
  </div>
</div>


<!-- end row -->


<!-- Success Modal -->
<div #successContent="bs-modal" bsModal class="modal fade">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button (click)="successContent.hide()" aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                id="btn-close"
                type="button"></button>
      </div>
      <div class="modal-body text-center">
        <div class="mt-3">
          <img alt="" height="150" src="assets/images/success-img.png">
          <div class="mt-4 pt-2 fs-base">
            <h4>Felicitation !</h4>
            <p class="text-muted mx-4 mb-0">Un nouveau founisseur enregistré avec success.</p>
          </div>
        </div>
        <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
          <button (click)="successContent.hide()" aria-label="" class="swal2-cancel btn btn-primary w-xs mb-1"
                  style="display: inline-block;" type="button">D'accord
          </button>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div>
</div>


<div bsModal #errorContent="bs-modal" class="modal fade">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btn-closec"
                (click)="errorContent.hide()"></button>
      </div>
      <div class="modal-body text-center">
        <div class="mt-3">
          <i class="bi bi-exclamation-triangle display-5 text-warning"></i>
          <div class="mt-4 pt-2 fs-base">
            <h4>Oops...! des erreurs survenues !</h4>
            <!--  <div *ngFor="let k of keyArray">
                <p class="text-muted mx-4 mb-0" >{{ k }}</p>
                -->
            <ul class="text-muted vstack gap-2 mb-4 list-unstyled">
              <li *ngFor="let e of messageArray"><i class="bi bi-check-lg text-danger"></i> {{ e }}</li>

            </ul>

            <!-- </div>  -->


          </div>
        </div>
        <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
          <button type="button" class="swal2-cancel btn btn-primary w-xs mb-1" aria-label=""
                  style="display: inline-block;" (click)="errorContent.hide()">Dismiss</button>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div>
</div>


