<!-- Start Breadcrumbs -->
<app-breadcrumbs title="DETAIL DE FOURNISSEUR" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row" *ngIf="entreprise">
    <div class="col-xxl-9">
        <div class="card">
            <div class="card-body">
                <div class="row align-items-center justify-content-center g-3">
                    <div class="col-xl-4 col-md-5">
                        <div class=" rounded-3  ribbon-box page-agency-overview overflow-hidden mb-2">

                            <img [src]="entreprise.logo ? entreprise.logo : imageURL"  height="250" width="250"
                                 class="rounded object-fit">
                          <ul class="list-unstyled hstack gap-2 flex-wrap mt-2">
                            <li>
                              <span class="badge bg-success-subtle text-success">Beginner</span>
                            </li>
                            <li class="text-warning">
                              <i class="bi bi-star-fill align-baseline"></i>
                              <i class="bi bi-star-fill align-baseline"></i>
                              <i class="bi bi-star-fill align-baseline"></i>
                              <i class="bi bi-star-fill align-baseline"></i>
                              <i class="bi bi-star-half align-baseline"></i>
                              <span class="text-body ms-1">4.5</span>
                            </li>

                          </ul>

                        </div>

                    </div>
                    <div class="col-xl-8 col-md-7 align-self-start">
                        <div>
                            <div class="mb-3">
                                <h2 class="text-start" >{{ entreprise.name}}</h2>
                                <p class="text-muted mb-0">{{ entreprise.type?.name}}</p>
                            </div>
                          <div>
                                <div class="table-responsive">
                                    <table class="table table-sm table-nowrap table-borderless mb-0">
                                        <tbody>
                                            <tr>
                                                <th>Capital Social:</th>
                                                <td>xxxxxxxxxxxxx</td>
                                            </tr>
                                            <tr>
                                                <th>No RCCM:</th>
                                                <td>{{ entreprise.rccm}}</td>
                                            </tr>
                                            <tr>
                                                <th>Email:</th>
                                                <td>{{entreprise.email}}</td>
                                            </tr>
                                            <tr>
                                                <th>No Telephone:</th>
                                                <td>{{ entreprise.phone_number}}</td>
                                            </tr>
                                            <tr>
                                                <th>Site web:</th>
                                                <td>{{entreprise.website}}</td>
                                            </tr>
                                            <tr>
                                                <th>Domaine D'activité:</th>
                                                <td>
                                                  <span class="badge bg-body-secondary border border-info text-info" *ngFor="let c of entreprise.categories">{{c.name}}</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <ul class="list-unstyled hstack gap-2 mb-0 mt-4">
                                    <li *ngIf="entreprise.facebook_url">
                                        <a href="javascript:void(0);" class="avatar-xs d-inline-block">
                                            <div class="avatar-title rounded bg-primary-subtle text-primary">
                                                <i class="bi bi-facebook"></i>
                                            </div>
                                        </a>
                                    </li>
                                    <li *ngIf="entreprise.linkedin_url">
                                        <a href="javascript:void(0);" class="avatar-xs d-inline-block">
                                            <div class="avatar-title bg-success-subtle text-success rounded">
                                                <i class="bi bi-linkedin"></i>
                                            </div>
                                        </a>
                                    </li>
                                    <li *ngIf="entreprise.tiktok_url">
                                        <a href="javascript:void(0);" class="avatar-xs d-inline-block">
                                            <div class="avatar-title bg-info-subtle text-info rounded">
                                                <i class="bi bi-tiktok"></i>
                                            </div>
                                        </a>
                                    </li>
                                    <li *ngIf="entreprise.instagram_url">
                                        <a href="javascript:void(0);" class="avatar-xs d-inline-block">
                                            <div class="avatar-title bg-danger-subtle text-danger rounded">
                                                <i class="bi bi-instagram"></i>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="">

                    <h6 class="card-title">Description</h6>
                    <p class="text-muted mb-2">{{entreprise.description}}</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-between align-items-center mb-4">
            <div class="col-lg-12">
                <div class="d-flex">
                    <div class="flex-grow-1">
                        <!-- Nav tabs -->
                        <ul class="nav nav-pills nav-secondary mb-3" role="tablist">
                            <li class="nav-item ">
                                <a [class.active]="currentTab === 'actionnaire'" class="nav-link active" data-bs-toggle="tab" href="javascript:void(0);" (click)="changeTab('actionnaire')"  role="tab">Actionnaire</a>
                            </li>
                            <li class="nav-item ">
                                <a [class.active]="currentTab === 'reference'" class="nav-link" data-bs-toggle="tab" href="javascript:void(0);" (click)="changeTab('reference')"  role="tab">Reference</a>
                            </li>
                            <li class="nav-item ">
                                <a [class.active]="currentTab === 'document'" class="nav-link" data-bs-toggle="tab" href="javascript:void(0);" (click)="changeTab('document')"  role="tab">Collegue</a>
                            </li>
                        </ul>
                    </div>
                   </div>
                <!-- Tab panes -->
                <div class="tab-content text-muted">
                    <div [hidden]="currentTab !== 'actionnaire'"  class="tab-pane show active" id="border-nav-home" role="tabpanel" tabindex="0">
                        <div class="row mt-3">
                            <div *ngFor="let data of actionnaires" class=" col-sm-6">
                                  <div class="card ribbon-box border shadow-none right card-animate">
                                    <div class="card-body">
                                      <div class="d-flex">
                                        <div class="ribbon ribbon-info ribbon-shap fs-xl ">{{ data.associate_percentage }}%</div>

                                        <div class="flex-grow-1">
                                          <div class="ribbon-content text-muted me-5">
                                            <h3 class="text-start text-uppercase">{{data.first_name + ' ' + data.last_name }}</h3>
                                            <p class="text-muted mb-0">{{data.role}}</p>
                                            <div class="mt-4">
                                              <p class="text-muted mb-2"><i class="bi bi-people align-baseline me-1"></i> {{data.gender}}</p>
                                              <p class="text-muted mb-2"><i class="bi bi-calendar2-date  align-baseline me-1"></i> {{data.date_of_birth}}</p>
                                              <p class="text-muted mb-2"><i class="bi bi-telephone align-baseline me-1"></i> {{data.phone_number}}</p>
                                              <p class="text-muted mb-2"><i class="bi bi-envelope align-baseline me-1"></i>{{data.email}}</p>
                                              <p class="text-muted mb-0"><i class="bi bi-geo-alt align-baseline me-1"></i> {{data.nationality}}</p>
                                            </div>

                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            </div><!--end col-->
                        </div><!--end row-->

                    </div>
                    <div [hidden]="currentTab !== 'reference'"   class="tab-pane show active" id="border-nav-profile" role="tabpanel" tabindex="0">
                        <div class="row mt-3">
                            <div *ngFor="let data of references" class=" col-sm-6">
                                  <div class="card ribbon-box border shadow-none right card-animate">
                                    <div class="card-body">
                                      <div class="d-flex">
                                        <div class="ribbon ribbon-info ribbon-shap fs-xl ">{{ data.contact_approx_amount + ' ' + data.contact_approx_amount_currency}}</div>

                                        <div class="flex-grow-1">
                                          <div class="ribbon-content text-muted me-5">
                                            <h3 class="text-start text-uppercase">{{data.company_name}}</h3>
                                            <div class="mt-4">
                                              <p class="text-muted mb-2"><i class="bi bi-people align-baseline me-1"></i> {{data.contact_full_name}}</p>
                                              <p class="text-muted mb-2"><i class="bi bi-fonts   align-baseline me-1"></i> {{data.contact_designation}}</p>
                                              <p class="text-muted mb-2"><i class="bi bi-telephone align-baseline me-1"></i> {{data.contact_phone_number}}</p>
                                              <p class="text-muted mb-2"><i class="bi bi-envelope align-baseline me-1"></i>{{data.contact_email}}</p>
                                            </div>
                                             </div>
                                          <div class="card border shadow-none">
                                            <div class="card-header">
                                              <h4 class="card-title mb-0">Reference</h4>
                                            </div><!-- end card header -->

                                            <div class="card-body">
                                              <div class="mx-n3">
                                                <ngx-simplebar [options]="options" data-simplebar-track="info"   style="max-height: 120px;" class="px-3">
                                                  <p>{{data.reference}}</p>
                                                </ngx-simplebar>
                                              </div>
                                            </div>
                                          </div>


                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            </div><!--end col-->
                        </div><!--end row-->

                    </div>
                    <div [hidden]="currentTab !== 'document' "  class="tab-pane show active" id="border-nav-document" role="tabpanel" tabindex="0">
                             <div class="row  mt-3">
                              <div class="col-xl-12">


                              </div><!-- end col -->
                            </div><!-- end row -->


                      <div class="row">
                        <div class="col-xl-12">
                          <div class="card">
                            <div class="card-body">
                              <div class="table-responsive">
                                <table class="table align-middle table-nowrap mb-0">
                                  <thead >
                                  <tr>

                                    <th scope="col">Nom et Prenom</th>
                                    <th scope="col">Telephone</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Derniere connexion</th>
                                    <th scope="col">Status</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  <tr *ngFor=" let user of users">

                                    <td>
                                      <div class="d-flex gap-2 align-items-center">
                                        <div class="flex-shrink-0">
                                          <img [src]=" user.avatar ? user.avatar : imageURL " alt=""
                                               class="avatar-xs rounded-circle" />
                                        </div>
                                        <div class="flex-grow-1">
                                          {{ user.first_name + ' ' + user.last_name }}
                                        </div>
                                      </div>
                                    </td>
                                    <td>{{ user.phone_number}}</td>
                                    <td>{{ user.email}}</td>
                                    <td>{{ user.last_login | date:'M/d/yy, h:mm a z' }}</td>
                                    <td>
                                      <span class="badge status bg-success-subtle text-success" *ngIf="user.is_active === true">
                                        Activé {{user.is_active}}
                                      </span>
                                      <span class="badge status bg-danger-subtle text-danger" *ngIf="user.is_active === false ">
                                        desactivé {{user.is_active}}
                                      </span>


                                    </td>
                                  </tr>

                                  </tbody>

                                </table>
                                <!-- end table -->
                              </div>
                              <!-- end table responsive -->
                            </div><!-- end card-body -->


                          </div><!-- end card -->
                        </div><!-- end col -->
                      </div>


                    </div>
                </div>
                <!-- Tab panes -->
            </div>

        </div>
    </div><!--end col-->

    <div class="col-xxl-3">
        <div class="row">
          <div class="card">
            <div class="card-header">
              <h6 class="card-title mb-0">Document</h6>
            </div>
            <div class="card-body">
              <ul class="list-unstyled vstack gap-2 mb-0">
                <li *ngIf="entreprise.rccm_document">
                  <div class="d-flex align-items-center" >
                    <div class="flex-grow-1">
                      <i class="ph ph-book-open align-middle me-1 text-primary-emphasis"></i> RCCM
                    </div>
                    <div class="flex-shrink-0 text-muted">
                      <a href="{{ entreprise.rccm_document}}"  ><i
                        class="bx bx-download me-1"></i> </a>

                    </div>
                  </div>
                </li>
                <li *ngIf="entreprise.nif_document">
                  <div class="d-flex align-items-center" >
                    <div class="flex-grow-1">
                      <i class="bi bi-card-heading align-baseline me-1 text-primary-emphasis"></i> NIF
                    </div>
                    <div class="flex-shrink-0 text-muted">
                      <a href="{{ entreprise.nif_document}}"  ><i
                        class="bx bx-download me-1"></i> </a>

                    </div>
                  </div>
                </li>
                <li *ngIf="entreprise.quitus_fiscal_document">
                  <div class="d-flex align-items-center" >
                    <div class="flex-grow-1">
                      <i class="bi bi-card-heading align-middle me-1 text-primary-emphasis"></i> QUITUS FISCAL
                    </div>
                    <div class="flex-shrink-0 text-muted">
                      <a href="{{ entreprise.quitus_fiscal_document}}"  ><i
                        class="bx bx-download me-1"></i> </a>

                    </div>
                  </div>
                </li>
                <li *ngIf="entreprise.quitus_social_document">
                  <div class="d-flex align-items-center" >
                    <div class="flex-grow-1">
                        <i class="bi bi-card-heading align-middle me-1 text-primary-emphasis"></i>QUITUS SOCIAL
                    </div>
                    <div class="flex-shrink-0 text-muted">
                      <a href="{{ entreprise.quitus_social_document}}"  ><i
                        class="bx bx-download me-1"></i> </a>

                    </div>
                  </div>
                </li>
                <li *ngIf="entreprise.aguipe_document">
                  <div class="d-flex align-items-center" >
                    <div class="flex-grow-1">
                      <i class="bi bi-card-heading align-middle me-1 text-primary-emphasis"></i> AGUIPE
                    </div>
                    <div class="flex-shrink-0 text-muted">
                      <a href="{{ entreprise.aguipe_document}}"  ><i
                        class="bx bx-download me-1"></i> </a>

                    </div>
                  </div>
                </li>
                <li *ngIf="entreprise.etat_financier_document">
                  <div class="d-flex align-items-center" >
                    <div class="flex-grow-1">
                      <i class="bi bi-card-heading align-middle me-1 text-primary-emphasis"></i> ETAT FINANCIER
                    </div>
                    <div class="flex-shrink-0 text-muted">
                      <a href="{{ entreprise.etat_financier_document}}"  ><i
                        class="bx bx-download me-1"></i> </a>

                    </div>
                  </div>
                </li>
                 </ul>
            </div>
          </div>

          <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title mb-0">Niveau de payement </h4>
                    </div>
                    <div class="card-body">
                        <div>

                        </div>
                    </div>
                </div>


                <div class="card">

                    <div class="card-body">
                        <div style="height: 300px;" leaflet [leafletOptions]="markers" [leafletLayers]="markersLayers">
                        </div>
                    </div><!-- end card-body -->
                </div><!-- end card -->
            </div>
            <!--end col-->
        </div><!--end row-->
    </div><!--end col-->
</div><!--end row-->
