<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Paiement" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->


<div class="row row-cols-xxl-5 row-cols-lg-3 row-cols-md-2 row-cols-1">
  <div *ngFor="let data of listingcards" class="col">
      <div class="card border-bottom border-3 card-animate border-{{data.border}}">
          <div class="card-body">
              <span class="badge bg-{{data.iconColor}}-subtle text-{{data.iconColor}} float-end"><i class="{{data.icon}} align-middle me-1"></i> {{data.persent}}%</span>
              <h4 class="mb-4"><span class="counter-value" [countUp]="data.target"></span>
              </h4>

              <p class="text-muted fw-medium text-uppercase mb-0">{{data.title}}</p>
          </div>
      </div>
  </div><!--end col-->
</div><!---end row-->

<div class="row">
  <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center g-2">
              <div class="col-lg-3 me-auto">
                  <h6 class="card-title mb-0">Paiement <span class="badge bg-primary ms-1 align-baseline">{{service.totalRecords}}</span></h6>
              </div><!--end col-->
              <div class="col-lg-4">
                  <div class="search-box">
                      <input type="text" class="form-control search" placeholder="Rechercher ..." [(ngModel)]="service.searchTerm">
                      <i class="ri-search-line search-icon"></i>
                  </div>
              </div><!--end col-->
              <div class="col-lg-auto">
                  <div class="hstack flex-wrap gap-2">
                      <button class="btn btn-subtle-danger d-none" id="remove-actions" (click)="deleteRecordModal.show()"><i class="ri-delete-bin-2-line"></i></button>
                      <a href="javascript:void(0);" (click)="addBuyer($event)" class="btn btn-secondary"><i class="bi bi-plus-circle align-baseline me-1"></i> Paiement</a>
                      <div>
                        <button #toggleButton (click)="togglebtn($event)" class="btn btn-outline-info custom-toggle me-1"
                                data-bs-toggle="button"
                                type="button">
                          <span class="icon-on"><i class="ri-filter-line align-bottom me-1"></i> Filtrer</span>
                          <span class="icon-off"><i class="ri-filter-fill align-bottom me-1"></i>Filtrer</span>

                        </button>
                      </div>
                  </div>
              </div><!--end col-->
          </div>
      </div>
      </div>
  </div><!--end col-->
</div><!--end row-->

<div class="row">
  <div class="col-lg-12">
      <div class="card" id="coursesList">

        <div class="card-body">
          <div class="table-responsive table-card">
              <table class="table table-centered align-middle table-custom-effect   mb-0">
                  <thead class="text-muted">
                          <tr>
                             <th scope="col" >No</th>
                              <th scope="col" class="sort cursor-pointer w-sm" listsortable="reference" (sort)="onSort($event)">Reference</th>
                              <th scope="col" class="sort cursor-pointer w-md" listsortable="amount" (sort)="onSort($event)">Montant</th>
                              <th scope="col" class="sort cursor-pointer w-md" listsortable="mode" (sort)="onSort($event)">mode de Paiement</th>
                              <th scope="col" class="sort cursor-pointer w-md" listsortable="transaction_time" (sort)="onSort($event)">Heure de transaction</th>
                              <th scope="col" class="sort cursor-pointer w-md" listsortable="company" (sort)="onSort($event)">Fournisseur</th>
                              <th scope="col" class="sort cursor-pointer w-sm" listsortable="status" (sort)="onSort($event)">Status</th>
                              <th scope="col" class="w-sm ">Action</th>
                          </tr>
                      </thead>
                      <tbody class="list form-check-all">
                          <tr *ngFor="let data of listData;let i = index;" id="p_{{data._id}}">
                              <td class="w-10">{{ i + 1}}</td>
                              <td class="id d-none"><a href="javascript:void(0)" class="fw-medium link-primary">#TBS00{{data.id}}</a></td>
                              <td class="category"><a routerLink="/learning/grid" class="text-reset">{{data.reference}}</a></td>
                              <td class="instructor" class="">{{data.amount}}</td>
                              <td class="lessons ">{{ data.mode  }}</td>
                              <td class="lessons ">{{ data.transaction_time | date:'dd-MM-yy' }}</td>
                              <td class="duration">{{data.company.name}}</td>
                              <td class="duration">{{data.status}}</td>
                            <td>
                              <ul class="d-flex gap-2 list-unstyled mb-0">
                                <li>
                                  <a ref="javascript:void(0);" (click)="datailItem($event, data.id)" class="btn btn-subtle-primary btn-icon btn-sm "><i class="ph-eye"></i></a>
                                </li>
                                <li>
                                  <a href="javascript:void(0);" (click)="editItem($event, data.id)" class="btn btn-subtle-secondary btn-icon btn-sm edit-item-btn"><i class="ph-pencil"></i></a>
                                </li>
                                <li>
                                  <a href="javascript:void(0);" (click)="removeItem(data.id)" class="btn btn-subtle-danger btn-icon btn-sm remove-item-btn"><i class="ph-trash"></i></a>
                                </li>
                              </ul>
                            </td>
                          </tr>
                      </tbody><!-- end tbody -->
                  </table><!-- end table -->
                  <div class="noresult" [ngClass]="(listData?.length != 0)?'d-none':''">
                      <div class="text-center py-4">
                          <i class="ph-magnifying-glass fs-1 text-primary"></i>
                          <h5 class="mt-2">Sorry! No Result Found</h5>
                          <p class="text-muted mb-0">We've searched more than 150+ Courses We did not find any Courses
                              for you search.</p>
                      </div>
                  </div>
              </div>
              <div id="elmLoader">
                  <div class="spinner-border text-primary avatar-sm" role="status">
                      <span class="visually-hidden">Loading...</span>
                  </div>
              </div>
              <div [ngClass]="(listData?.length == 0)?'d-none':''" class="row align-items-center mt-4 pt-2" id="pagination-element">
                  <div class="col-sm">
                      <div class="text-muted text-center text-sm-start">
                          Showing <span class="fw-semibold">{{service.endIndex}}</span> of <span class="fw-semibold">{{service.totalRecords}}</span> Results
                      </div>
                  </div><!--end col-->
                  <div class="col-sm-auto mt-3 mt-sm-0">
                      <pagination class="pagination-wrap hstack gap-2 justify-content-center" [totalItems]="(total | async)!" [(ngModel)]="service.page" [itemsPerPage]="service.pageSize"></pagination>
                  </div><!--end col-->
              </div><!--end row-->
          </div>
      </div><!--end card-->
  </div><!--end col-->
</div><!--end row-->







<!-- deleteRecordModal -->
<div bsModal #deleteRecordModal="bs-modal" id="deleteRecordModal" class="modal fade zoomIn">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="btn-close" id="deleteRecord-close" (click)="deleteRecordModal.hide()"></button>
          </div>
          <div class="modal-body p-md-5">
              <div class="text-center">
                  <div class="text-danger">
                      <i class="bi bi-trash display-5"></i>
                  </div>
                  <div class="mt-4">
                      <h4 class="mb-2">Are you sure ?</h4>
                      <p class="text-muted mx-3 mb-0">Are you sure you want to remove this record ?</p>
                  </div>
              </div>
              <div class="d-flex gap-2 justify-content-center mt-4 pt-2 mb-2">
                  <button type="button" class="btn w-sm btn-light btn-hover" (click)="deleteRecordModal.hide()">Close</button>
                  <button type="button" class="btn w-sm btn-danger btn-hover" id="delete-record" (click)="confirmDelete()">Yes, Delete It!</button>
              </div>
          </div>
      </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /deleteRecordModal -->



<div class="custom-offcanvas" id="courseFilters">

  <div class="offcanvas-header border-bottom p-3">
    <h5 class="offcanvas-title" id="courseFiltersLabel">Filteur de Fournisseur </h5>
    <button (click)="closeoffcanvas()" class="btn-close" type="button"></button>
  </div>
  <div class="offcanvas-body">
    <form [formGroup]="filterForm" autocomplete="off" novalidate>
      <div class="row">
        <div class="col-lg-12">
          <div class="mb-3">
            <label class="select-category-filter form-label fs-md  text-decoration-underline">Enregistrement
              *</label>
            <br>
            <div class="col-md-4  mt-3 form-check form-check-inline ">
              <input (change)="onRestrictedTypeChanged($event)"
                     class="form-check-input"
                     formControlName="enregistrement"
                     id="date"
                     required
                     type="radio"
                     value="date">
              <label class="form-check-label" for="date">Par date</label>
            </div>
            <div class="col-md-4  mt-3 form-check form-check-inline ">
              <input (change)="onRestrictedTypeChanged($event)"
                     class="form-check-input"
                     formControlName="enregistrement"
                     id="periode"
                     required
                     type="radio"
                     value="periode">
              <label class="form-check-label" for="periode">Par periode</label>
            </div>

          </div>
        </div>

        <div *ngIf="enregistrement === 'date'" class="col-lg-12">
          <div class=" row mb-3 align-items-center">
            <div class="col-lg-3">
              <label class="select-category-filter form-label fs-md mb-3   " for="dateen">Date</label>
            </div>
            <div class="col-lg-9">
              <input

                [bsConfig]="bsConfig"

                bsDatepicker
                class="form-control "
                dataformatas="yyyy-MM-DD"
                formControlName="date"
                id="dateen"
                type="text">
            </div>

          </div>
        </div>
        <div *ngIf="enregistrement === 'periode'" class="col-lg-12">
          <div class=" row mb-3 align-items-center">
            <div class="col-lg-3">
              <label class="select-category-filter form-label fs-md mb-3 ">Debut</label>
            </div>
            <div class="col-lg-9">
              <input
                [bsConfig]="bsConfig"
                bsDatepicker
                class="form-control "
                formControlName="startDate"
                id="minCost"
                type="text">
            </div>
          </div>
          <div class=" row mb-3 align-items-center">
            <div class="col-lg-3">
              <label class="select-category-filter form-label fs-md mb-3 ">Fin</label>
            </div>
            <div class="col-lg-9">
              <input
                [bsConfig]="bsConfig"
                bsDatepicker
                class="form-control "
                formControlName="endDate"
                id="maxCost"
                type="text">
            </div>
          </div>


        </div>


      </div>
    </form>
  </div>
  <div class="offcanvas-header htsack gap-2 border-top p-3">
    <button (click)="resetFilter($event)" class="btn btn-subtle-danger w-100"><i
      class="bi bi-x-lg align-baseline me-1"></i> Reset
    </button>
    <button (click)="validateFilter()" class="btn btn-secondary w-100"><i class="bi bi-funnel align-baseline me-1"></i>
      Filtrer
    </button>
  </div>

</div>


<div (click)="closeoffcanvas()" class="offcanvas-backdrop fade backdrop3" id="backdrop"></div>
