<form [formGroup]="formStep2" (ngSubmit)="firstTwo()" #formRef="ngForm"  class="row g-3 needs-validation" novalidate>

  <div class="col-lg-12">
    <div class="mb-3">
      <label class="form-label" for="steparrow-gen-info-lentreprise-input">Nom de l'entreprise</label>
      <input
        [ngClass]="{ 'is-invalid': formRef.submitted && f['name'].errors }"
        required
        type="text"
        formControlName="name"
        class="form-control "
        id="steparrow-gen-info-lentreprise-input"
      >

      <div *ngIf="formRef.submitted && f['name'].errors" class="invalid-feedback">
        <div *ngIf="f['name'].errors?.['required']">Le nom de l'entreprise est obligatoire</div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="mb-3">
      <label class="form-label" for="steparrow-gen-info-date-rccm-input">No RCCM</label>
      <input
        [ngClass]="{ 'is-invalid': formRef.submitted && f['rccm'].errors }"

        required
        type="text"
        formControlName="rccm"
        class="form-control "
        id="steparrow-gen-info-date-rccm-input"
      >

      <div *ngIf="formRef.submitted && f['rccm'].errors" class="invalid-feedback">
        <div *ngIf="f['rccm'].errors?.['required']">Le numero rccm est obligatoire</div>
      </div>
    </div>
  </div>

  <div class="col-lg-12">
    <div class="mb-3">
      <label class="form-label" >Formes juridiques</label>
      <br>
      <div class="col-sm-4  form-check form-check-inline  " *ngFor=" let j of typeSocietes">
        <input class="form-check-input"
               [ngClass]="{ 'is-invalid': formRef.submitted && f['type'].errors }"
               type="radio"
               formControlName="type"
               id="{{j.id}}"
               [value]="j.id"
        >
        <label class="form-check-label" for="{{j.id}}">{{j.code}}</label>
      </div>


      <div *ngIf="formRef.submitted && f['type'].errors" class="invalid-feedback">
        <div *ngIf="f['type'].errors?.['required']">Veuillez Choisir une forme juridique</div>
      </div>
    </div>
  </div>

  <div class="col-lg-12">
    <div class="mb-3">
      <label class="form-label" for="steparrow-gen-info-description-input">Description</label>
      <textarea class="form-control"
                id="steparrow-gen-info-description-input"
                formControlName="description"
                rows="3" placeholder="Enter description"
      ></textarea>

      <div *ngIf="formRef.submitted && f['description'].errors" class="invalid-feedback">
        <div *ngIf="f['description'].errors?.['required']">La description est obligatoire</div>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="mb-3">
      <label class="form-label" for="steparrow-gen-info-creation-input">Date de création</label>

      <input
        type="text"
        id="steparrow-gen-info-creation-input"
        [ngClass]="{ 'is-invalid': formRef.submitted && f['registration_date'].errors }"
        class="form-control"
        formControlName="registration_date"
        bsDatepicker [bsConfig]="bsConfig"
      >

      <div *ngIf="formRef.submitted && f['registration_date'].errors" class="invalid-feedback">
        <div *ngIf="f['registration_date'].errors?.['required']">La date de création est obligatoire</div>
      </div>
    </div>
  </div>

  <div class="col-lg-12">
    <div class="mb-3">
      <label class="form-label" >Domaines d'Activités</label>
      <br>
      <div class="col-md-3  form-check form-check-inline " *ngFor=" let dom of domaineActivites">
        <input class="form-check-input"
               type="checkbox"
               [checked]= "domaineList.indexOf(dom?.id!) > -1"
               [ngClass]="{ 'is-invalid': formRef.submitted && f['sectors'].errors }"
               id="categories{{ dom.id }}"
               (change)="onChangeDomaine($event)"
               [value]="dom.id">
        <label class="form-check-label" for="categories{{ dom.id }}">{{ dom.name}}</label>
      </div>


      <div *ngIf="formRef.submitted && f['sectors'].errors" class="invalid-feedback">
        <div *ngIf="f['sectors'].errors?.['required']">Le domaine d'activité est obligatoire</div>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="mb-3">
      <label class="form-label" for="steparrow-gen-info-phone_number-input">Numéro de Téléphone</label>
      <input
        [ngClass]="{ 'is-invalid': formRef.submitted && f['phone_number'].errors }"
        placeholder="Entrer le numero de telephone"
        required
        type="text"
        formControlName="phone_number"
        class="form-control "
        id="steparrow-gen-info-phone_number-input"
      >

      <div *ngIf="formRef.submitted && f['phone_number'].errors" class="invalid-feedback">
        <div *ngIf="f['phone_number'].errors?.['required']">Le numero de telephone de l'entreprise  est obligatoire</div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="mb-3">
      <label class="form-label" for="steparrow-gen-info-email-input">Email</label>
      <input
        [ngClass]="{ 'is-invalid': formRef.submitted && f['email'].errors }"
        placeholder="Entrer l'adresse electronique"
        required
        type="text"
        formControlName="email"
        class="form-control"
        id="steparrow-gen-info-email-input"
      >

      <div *ngIf="formRef.submitted && f['email'].errors" class="invalid-feedback">
        <div *ngIf="f['email'].errors?.['required']">L'email est obligatoire</div>
      </div>
    </div>
  </div>


  <div class="col-lg-6">
    <div class="mb-3">
      <label class="form-label" for="steparrow-gen-info-website-input">Site Web</label>
      <input
        [ngClass]="{ 'is-invalid': formRef.submitted && f['website'].errors }"
        placeholder="Entrer l'adresse electronique"
        required
        type="text"
        formControlName="website"
        class="form-control"
        id="steparrow-gen-info-website-input"
      >

      <div *ngIf="formRef.submitted && f['website'].errors" class="invalid-feedback">
        <div *ngIf="f['website'].errors?.['required']">L'email est obligatoire</div>
      </div>
    </div>
  </div>


  <br>
  <div class="col-lg-6">
    <div class="mb-3">
      <label class="form-label" for="steparrow-gen-info-pricipale-input">Adresse Principale</label>
      <textarea class="form-control"
                id="steparrow-gen-info-pricipale-input"
                formControlName="address"
                rows="3"
      ></textarea>

      <div *ngIf="formRef.submitted && f['address'].errors" class="invalid-feedback">
        <div *ngIf="f['address'].errors?.['required']">L'adresse principale est obligatoire</div>
      </div>
    </div>
  </div>
  <p></p>
  <div class="col-lg-4">
    <div class="mb-3">
      <label class="form-label" for="steparrow-gen-info-region-input">Region</label>
      <select class="form-select mb-3" [value]="regionDefault"
              [ngClass]="{ 'is-invalid': formRef.submitted && f['region'].errors }"
              (change)="onRegionSelect($event)"
              formControlName="region"
              id="steparrow-gen-info-region-input">
        <option [value]="0">Choisissez une region</option>
        <option *ngFor="let reg of regionList" [value]="reg.id">{{ reg.name }}</option>
      </select>

      <div *ngIf="formRef.submitted && f['region'].errors" class="invalid-feedback">
        <div *ngIf="f['region'].errors?.['required']">Choisissez une region</div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="mb-3">
      <label class="form-label" for="steparrow-gen-info-pre-input">Préfecture</label>
      <select class="form-select mb-3"  [value]="prefectureDefault"
              [ngClass]="{ 'is-invalid': formRef.submitted && f['prefecture'].errors }"
              (change)="onPrefectureSelect($event)"
              formControlName="prefecture"
              id="steparrow-gen-info-pre-input">
        <option value="">Choisissez une prefecture</option>
        <option *ngFor="let pre of prefectureRegion" [value]="pre.id">{{ pre.name }}</option>
      </select>

      <div *ngIf="formRef.submitted && f['prefecture'].errors" class="invalid-feedback">
        <div *ngIf="f['prefecture'].errors?.['required']">Choisissez une prefecture</div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="mb-3">
      <label class="form-label" for="steparrow-gen-info-com-input">Commune</label>
      <select class="form-select mb-3"  [value]="communeDefault"
              [ngClass]="{ 'is-invalid': formRef.submitted && f['prefecture'].errors }"
              formControlName="commune"
              id="steparrow-gen-info-com-input">
        <option value="">Choisissez une commune</option>
        <option *ngFor="let com of communePrefecture" [value]="com.id">{{ com.name }}</option>

      </select>

      <div *ngIf="formRef.submitted && f['prefecture'].errors" class="invalid-feedback">
        <div *ngIf="f['prefecture'].errors?.['required']">Choisissez une commune</div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <label class="form-label" for="steparrow-gen-info-region-input">Logo</label>
    <div class="mb-3">

      <div class="profile-user position-relative d-inline-block mx-auto mb-2">
        <img  [src]="imageURL"  id="user-img" class=" avatar-lg img-thumbnail user-profile-image" alt="user-profile-image">
        <div class="avatar-xs p-0 rounded-circle profile-photo-edit">
          <input id="profile-img-file-input" type="file" class="profile-img-file-input"  accept="image/png, image/jpeg" (change)="fileChange($event)">
          <label for="profile-img-file-input" class="profile-photo-edit avatar-xs">
          <span class="avatar-title rounded-circle bg-light text-body">
              <i class="ri-camera-fill"></i>
          </span>
          </label>
        </div>
      </div>

    </div>
  </div>
  <div class="d-flex align-items-start gap-3 mt-4">
    <button type="button" class="btn btn-light btn-label previestab" data-previous="steparrow-gen-info-tab" cdkStepperPrevious><i class="ri-arrow-left-line label-icon align-middle fs-16 me-2"></i>
      Précédent</button>
    <button type="submit"class="btn btn-success btn-label right ms-auto nexttab nexttab" data-nexttab="pills-experience-tab" cdkStepperNext><i class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"></i>Suivant</button>
  </div>

</form>
