<div class="profile-user position-relative d-inline-block mx-auto mb-2">
  <img  [src]="preview"  id="user-img" class=" avatar-lg img-thumbnail user-profile-image" [ngClass]="round" alt="user-profile-image">
  <div class="avatar-xs p-0 rounded-circle profile-photo-edit">
      <input id="profile-img-file-input" type="file" class="profile-img-file-input"  accept="image/png, image/jpeg" (change)="fileChange($event)">
      <label for="profile-img-file-input" class="profile-photo-edit avatar-xs">
          <span class="avatar-title rounded-circle bg-light text-body">
              <i class="ri-camera-fill"></i>
          </span>
      </label>
  </div>
</div>
