<!-- Start Breadcrumbs -->
<app-breadcrumbs title="TYPE D'organisme" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->


<div class="row">
  <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="flex-grow-1">

            </div>
            <div class="flex-shrink-0">
                <div class="d-flex flex-wrap align-items-start gap-2">
                         <a routerLink="../" ActivatedRoute class="btn btn-subtle-primary  btn-icon "><i class="bi bi-list-task"></i></a>
                </div>
            </div>
        </div>

      </div>
      </div>
  </div><!--end col-->
</div><!--end row-->


<div class="row">


    <div class="col-xl-12">
        <div class="card">
          <div class="card-body">


                <form [formGroup]="formRegister"
                      (ngSubmit)="register()"
                      autocomplete="off"
                      #formRef="ngForm"
                      class="row g-3 needs-validation"
                      novalidate>
                     
                      <div class="col-lg-6">
                        <div class="mb-3">
                            <label class="form-label" for="validationCustom011">Libelle</label>
                            <input
                              id="validationCustom011"
                              [ngClass]="{ 'is-invalid': formRef.submitted && ff['name'].errors }"
                              placeholder=""
                              required
                              type="text"
                              formControlName="name"
                              class="form-control "
                            >
                        <div class="invalid-feedback">
                          <div *ngIf=" formRef.submitted && ff['name'].errors" >
                            <div *ngIf="ff['name'].errors?.['required']" >
                               Le libelle est obligatoire
                            </div>
                          </div>
                        </div>
                        </div>
                    </div>
                    <div class="hstack gap-2 justify-content-start mb-3">
                      <button class="btn btn-danger" (click)="cancel($event)"><i class="ph-x align-middle"></i> Annuler</button>
                      <button class="btn btn-primary"><i class="ph ph-floppy-disk align-middle"></i> Enregistrer</button>
                    </div>

                  </form>
                    <!-- </div> -->

          </div>
        </div>
    </div>
    <!-- end col -->
</div><!-- end row -->

<!-- end row -->
